
@import url(bootstrap/css/bootstrap.min.css);

body {
	background:#E7EBEE;
}

header {
	height:60px;
}

header img.logo {
	max-height:50px;
	margin-top:5px;
}
.no-margin {
	margin:0 !important;
}
a.btn-post-border {
	float:left;
	background:#F48300;
	border-bottom:4px solid #DC6D01;
	color:#FFF;
	padding:18px 30px;
	border-radius:0;
	margin-right:10px;
}
.user-profile {
	float:left;
	margin:5px 0;
	height:50px;	
}
.user-profile img{
	float:left;
	border-radius:50%;
	height:50px;
	z-index:2;
	position:absolute;
	border:2px solid #FFF;
}
.photo-user {
	border-radius:50%;
	height:50px;
	border:2px solid #FFF;
}
.user-profile h4 {
	float:left;
	font-size:14px;
	margin:5px 0 5px 30px;
	background:#FFF;
	padding:10px 30px 10px 30px;
	position:absolute;
	z-index:1;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.nav-top {
	padding:20px 0;
	background:#FFF;
	border-bottom:3px solid #EFEFEF;
	-webkit-box-shadow: 0px 1px 1px #000;
	-moz-box-shadow: 0px 1px 1px #000;
	box-shadow: 0px 1px 8px #888;
	margin-bottom:40px;
}
.nav-top .btn {
	border:none;
}
.thread {
	background:#FFF;
	border:1px solid #EEE;
	padding:20px;
	margin-bottom:20px;
}
.thread h2 {
	color:#414141;
	font-size:18px;
	margin:10px 0 15px 0;
}
.thread p {
	color:#A3a3a3;
	font-size:14px;
}
.published {
	clear:both;
	font-size:11px;
	color:#a2a2a2;
	margin:20px -15px 0 -15px;
}
.published .glyphicon {
	margin-right:5px;
	margin-left:10px;
	font-size:18px;
}
.reply-view {
	font-size:14px;
	padding-right:30px;
}
.box-widget {
	background:#FFF;
	margin-bottom:20px;
	padding:15px 20px;
}
.box-widget h2 {
	margin:0 0 10px 0;
	font-size:18px;
	text-transform:uppercase;
}
.box-widget img {
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
ul#top-threads {
	margin:20px -20px 20px -20px;
	list-style-type:none;
	padding-left:0;
}
ul#top-threads li {
	margin-bottom:0px;
}
ul#top-threads li a{
	color:#656565;
	padding:10px 20px 10px 20px;
	display:block;
}
ul#top-threads li a:hover, ul#top-threads li a.active{
	text-decoration:none;
	border-left: 3px solid #F48300;
	padding-left:17px;
	background:#F5FAFD;
}
footer {
	background:#FFF;
	padding:45px 0 0;
	color:#737373;
}
footer a {
	color:#737373;
}
.block-grey {
	margin-top:45px;
	background:#E0E0E0;
	padding:25px 0;
	color:#858585;
}
.logo-footer {
	border-right:1px solid #858585;
	padding-right:20px;
	margin-right:20px;
}
.quote-footer {
	font-size:24px;
}
.nav-footer {
	float:left;
	width:20%;
	margin-top:10px;
}
.nav-footer h4 {
	font-size:14px;
	font-weight:bold;
}
.nav-footer ul {
	list-style-type:none;
	padding:0;
}
.nav-footer ul li{
	font-size:12px;
	margin-bottom:5px;
}